// PRIMARY-COLORS
// (CTA text)
$Light: hsl(356, 100%, 66%);
// (CTA hover background)
$Verylightred: hsl(355, 100%, 74%);
// (headings)
$Verydarkblue: hsl(208, 49%, 24%);

// NEUTRAL-COLOR
// (text)
$White: hsl(0, 0%, 100%);
// (footer text)
$Grayishblue: hsl(240, 2%, 79%);
//(body copy)
$Verydarkgrayishblue: hsl(207, 13%, 34%);
// (footer background)
$Verydarkblackblue: hsl(240, 10%, 16%);

// Background gradient - Intro/CTA mobile nav:
$Verylightred: hsla(13, 100%, 72%, 0.596);
$Lightred: hsla(353, 79%, 48%, 0.829);

// Background gradient - body:
$Verydarkgrayblue: hsl(237, 17%, 21%);
$Verydarkdesaturatedblue: hsl(237, 23%, 32%);
