@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.head-container {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right, rgba(255, 143, 112, 0.596), rgba(219, 26, 48, 0.829)), url(/img/bg-pattern-intro.svg);
  height: 90vh;
  border-bottom-left-radius: 80px;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.first-container {
  display: flex;
  justify-content: space-between;
  padding: 60px 20px;
}

.logo {
  margin-left: 5px;
}

.burger-menu {
  background-image: url(/img/icon-hamburger.svg);
  display: flex;
  width: 45px;
  height: 18px;
  margin-top: 8px;
  margin-right: 15px;
  border: none;
  background-color: transparent;
}

.burger-menu--active {
  background-image: url(/img/icon-close.svg);
  width: 25px;
  height: 25px;
}

.arrow {
  display: inline-block;
}

.dropbtn--active .arrow {
  transform: rotate(180deg);
}

.header-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  margin-top: 80px;
}

.header-info h1 {
  font-family: "Overpass";
  font-weight: 500;
  font-size: 30px;
}

.header-info p {
  font-family: "Overpass";
  font-weight: 300;
  font-size: 15px;
  margin: 0;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  gap: 30px;
}

.buttons a {
  text-decoration: none;
}

.start-btn {
  border: none;
  border-radius: 25px;
  width: 150px;
  height: 50px;
  font-size: 20px;
}

.start-btn .start-link {
  color: #ff525d;
}

.learn-btn {
  border: 1px solid white;
  border-radius: 25px;
  width: 140px;
  height: 45px;
  background: none;
  font-size: 20px;
}

.learn-btn .learn-link {
  color: white;
}

.section-one {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: auto;
  padding: 50px 10px;
  margin-top: 100px;
}

.section-one #title {
  font-size: 30px;
  font-family: "Overpass";
}

.section-one-img-desk {
  display: none;
}

#img-mobile {
  width: 100%;
}

.copy-content {
  margin: 60px 40px 0px 40px;
  font-size: 1.1rem;
  line-height: 2rem;
  color: #2c2d3f;
}

.copy-content p {
  font-size: 22px;
  color: #4b5862;
  margin: 15px 0;
  text-align: center;
}

.h3-info {
  font-family: "Overpass";
  font-size: 2rem;
  line-height: 2.4rem;
  margin: 15px 0;
  color: #1f3f5b;
}

.section-three {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-around;
  align-items: center;
  background-image: url(/img/bg-pattern-circles.svg);
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  background-position: -120px -300px;
  background-color: #2c2d3f;
  background-size: 150%;
  background-repeat: no-repeat;
  margin-top: 20rem;
  width: 100%;
  padding-bottom: 120px;
  height: auto;
}

.section-three-pattern {
  position: absolute;
  top: -20%;
  left: 0;
  width: 100%;
  object-fit: contain;
}

.section-three-img {
  height: 160px;
}

.section-three-img .img-three {
  width: 100%;
}

.content-three {
  color: white;
  margin: 15px 40px 0px 40px;
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: center;
  z-index: 1;
}

.content-three h3 {
  color: white;
  text-align: center;
  font-size: 35px;
  font-family: "Overpass";
  font-weight: 600;
  line-height: 3.1rem;
}

.section-three-img img {
  width: 400px;
  height: auto;
  transform: translateY(-45%);
}

.section-four {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 110px;
  padding-bottom: 120px;
}

.img-fourth {
  width: 100%;
}

.second-paragraph {
  margin-top: 10rem;
}

.fourth-content {
  margin: 60px 40px 0px 40px;
  font-size: 1.1rem;
  line-height: 2rem;
  text-align: center;
}

.fourth-content p {
  color: #4b5862;
  font-size: 20px;
  text-align: center;
  line-height: 2.5rem;
  font-family: "Ubuntu";
}

footer {
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
  background: #25252d;
  border-top-right-radius: 100px;
  color: white;
}

footer .footer-img {
  margin-top: 80px;
  width: 100%;
}

footer li {
  list-style: none;
}

footer a {
  text-decoration: none;
}

footer ul {
  padding: 0;
  text-align: center;
}

footer .main-link {
  color: #c8c8cb;
  line-height: 50px;
  font-size: 1.3rem;
  font-family: "Ubuntu";
  font-weight: 300;
}

footer h3 {
  font-size: 1.7rem;
  font-family: "Ubuntu";
  font-weight: 700;
}

footer .list-one {
  margin-top: 60px;
}

footer .list-two {
  margin-top: 60px;
}

footer .list-three {
  margin-top: 60px;
}

.nav-contents {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 300px;
  padding: 40px 20px 40px 20px;
  position: absolute;
  /*To make the menu overlap rest of elements in header*/
  z-index: 2;
  border-radius: 1.3rem;
  margin-top: 10rem;
  margin-left: 1rem;
  text-align: center;
}

.dropdown {
  position: relative;
}

.arrow {
  color: red;
}

.dropbtn {
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  font-family: "Ubuntu";
  font-weight: 500;
  margin-top: 3rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.login-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  border: none;
  font-size: 1.4rem;
  background-color: transparent;
  font-family: "Ubuntu";
  font-weight: 600;
  margin-top: 1.3rem;
}

.sign-up {
  border: none;
  width: 10rem;
  height: 3.5rem;
  border-radius: 8rem;
  color: white;
  background-image: linear-gradient(to right, rgba(255, 143, 112, 0.596), rgba(219, 26, 48, 0.829));
  font-size: 1.4rem;
  font-family: "Ubuntu";
  font-weight: 700;
  margin-top: 1.7rem;
}

hr {
  width: 100%;
  height: 1.8px;
  background-color: #e6e4e4;
  margin: 20px;
  z-index: 2;
  border: none;
}

.dropdownContent {
  display: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background: #e6e1e1;
  margin: 0px 35px 0 35px;
  padding: 35px 0 35px 0;
  border-radius: 6px;
  margin-top: 1.2rem;
}

.drop-link {
  font-size: 1.3rem;
  line-height: 1.7;
  font-family: "Overpass";
  font-weight: 600;
  color: #60617d;
  text-align: center;
  cursor: pointer;
}

.showdropdown {
  display: block;
}

@media screen and (min-width: 896px) {
  .header-container {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, rgba(255, 143, 112, 0.596), rgba(219, 26, 48, 0.829)) url(/img/bg-pattern-intro.svg);
    border-bottom-left-radius: 80px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  .burger-menu {
    display: none;
  }
  .burger-menu,
  hr {
    display: none;
  }
  .arrow {
    color: white;
    font-weight: 800;
  }
  .dropbtn {
    border: none;
    background-color: transparent;
    font-size: 1.1rem;
    font-family: "Ubuntu";
    font-weight: 500;
    margin-top: 3rem;
    color: white;
  }
  .nav-contents {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 65vw;
    margin-top: 1rem;
    margin-left: 15rem;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
  }
  .login-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    visibility: visible;
    border: none;
    margin-right: -100px;
    margin-top: 8px;
  }
  .login {
    border: none;
    color: white;
    font-size: 1.4rem;
    background-color: transparent;
    font-family: "Overpass";
    font-weight: 600;
    margin-top: 2.1rem;
  }
  .sign-up {
    border: none;
    width: 6rem;
    height: 2.5rem;
    border-radius: 8rem;
    background: white;
    color: rgba(219, 26, 48, 0.829);
    font-size: 1rem;
    font-family: "Ubuntu";
    font-weight: 700;
    margin-top: 1.7rem;
    margin-left: 2.5rem;
  }
  .dropdownContent {
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background: #e6e1e1;
    margin: 0px 35px 0 35px;
    padding: 35px 0 35px 0;
    width: 150px;
    border-radius: 6px;
    margin-top: 1.2rem;
  }
  .drop-link {
    font-size: 1.1rem;
    line-height: 1.9;
    font-family: "Overpass";
    font-weight: 600;
    color: #60617d;
    text-align: center;
    cursor: pointer;
  }
  .showdropdown {
    display: block;
  }
  .header-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    margin-top: 2.9rem;
  }
  .header-info h1 {
    font-family: "Overpass";
    font-weight: 600;
    font-size: 3rem;
  }
  .header-info p {
    font-family: "Overpass";
    font-weight: 300;
    font-size: 15px;
    margin: 0;
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 30px;
  }
  .buttons a {
    text-decoration: none;
  }
  .start-btn {
    border: none;
    border-radius: 25px;
    width: 150px;
    height: 50px;
    font-size: 1rem;
    font-family: "Ubuntu";
    font-weight: 700;
  }
  .start-btn .start-link {
    color: #ff525d;
  }
  .learn-btn {
    border: 1px solid white;
    border-radius: 25px;
    width: 140px;
    height: 45px;
    background: none;
    font-size: 1rem;
    font-family: "Ubuntu";
    font-weight: 700;
  }
  .learn-btn .learn-link {
    color: white;
  }
  .first-container {
    display: flex;
    justify-content: space-between;
    padding: 60px 100px;
  }
  .section-one-content {
    display: flex;
    flex-direction: row-reverse;
  }
  .section-one {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    color: #4b5862;
    font-family: "Overpass";
  }
  .section-one-copy {
    flex: 1;
  }
  .section-one-img-desk {
    display: block;
    visibility: visible;
    flex: 1;
  }
  .section-one-img-desk img {
    width: 100%;
  }
  .one-img-mobile {
    display: none;
  }
  .copy-content {
    font-size: 1.1rem;
    line-height: 2rem;
    color: #2c2d3f;
    flex: 1;
  }
  .copy-content p {
    font-size: 22px;
    color: #4b5862;
    margin: 15px 0;
    text-align: center;
  }
  .h3-info {
    font-family: "Overpass";
    font-size: 2rem;
    line-height: 2.4rem;
    margin: 15px 0;
    color: #1f3f5b;
  }
  .section-three {
    display: flex;
    height: 290px;
    flex: 1;
    margin-top: 7rem;
  }
  .section-three-pattern {
    position: absolute;
    top: -20%;
    left: 0;
    width: 100%;
    object-fit: cover;
  }
  .section-three-img {
    height: 160px;
  }
  .content-three {
    color: white;
    margin: 15px 40px 0px 40px;
    font-size: 1.3rem;
    line-height: 2rem;
    text-align: left;
    z-index: 1;
    flex: 1;
  }
  .content-three h3 {
    color: white;
    text-align: left;
    font-size: 35px;
    font-family: "Overpass";
    font-weight: 600;
    line-height: 3.1rem;
  }
  .section-three-img img {
    float: left;
    width: 400px;
    height: auto;
    transform: translateY(-21%);
  }
  .section-four {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 15rem;
    padding-bottom: 120px;
  }
  .img-fourth {
    width: 800px;
    margin-left: -100px;
  }
  .fourth-content {
    flex: 1;
    font-size: 1.1rem;
    line-height: 2rem;
    text-align: left;
  }
  .fourth-content p {
    color: #4b5862;
    font-size: 1rem;
    text-align: left;
    line-height: 2.1rem;
    font-family: "Ubuntu";
  }
  .second-paragraph {
    margin-top: 6rem;
  }
  footer {
    display: flex;
    flex-direction: row;
    margin: 60px auto 0px auto;
    padding: 60px 60px 80px 60px;
    align-items: center;
    background: #25252d;
    border-top-right-radius: 100px;
    color: white;
  }
  .footer-logo {
    display: flex;
    float: left;
    width: 20%;
    max-width: 7em;
    height: 6em;
    margin-left: 50px;
    z-index: 1;
  }
  .footer-content {
    display: flex;
    flex-direction: row;
    float: right;
    width: 70%;
    max-width: 700px;
    z-index: 1;
    margin-left: 100px;
    margin-top: -10px;
    font-family: "Overpass", sans-serif;
    font-size: 1rem;
    justify-content: space-around;
  }
}
/*# sourceMappingURL=main.css.map */